/*______________________________________RESET CSS__________________________________________*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*_________________________________VARIABLE DECLEARATION___________________________________*/
:root{
    --clr1:#4458dc;
    --clr2:#854fee;
}
body{
    height:100vh;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x:hidden;
    cursor:pointer;
}
/*____________________________________HEADER AND NAVBAR STYLING___________________________*/
header{
    background-image:url('https://cdn.pixabay.com/photo/2016/11/06/23/31/breakfast-1804457_1280.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    height:90vh;
    position:relative;
    animation:slide 40s infinite;
}
@keyframes slide{
    0%{
        background-image:url('https://cdn.pixabay.com/photo/2016/11/06/23/31/breakfast-1804457_1280.jpg');
    }
    25%{
        background-color:url('https://cdn.pixabay.com/photo/2015/04/03/13/29/pizza-705061_1280.jpg');
    }
    50%{
        background-image:url('https://cdn.pixabay.com/photo/2018/01/31/09/57/coffee-3120750_1280.jpg');
    }
    75%{
        background-color:url('https://cdn.pixabay.com/photo/2016/11/29/06/17/black-coffee-1867753_1280.jpg');
    }
    95%{
        background-image:url('https://cdn.pixabay.com/photo/2016/11/29/06/17/black-coffee-1867753_1280.jpg');
    }
}
header nav{
    width:100%;
    height:10%;
    padding:0px 40px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    position:fixed;
    top:0;
    background-color: black;
    z-index:1;
}
nav .logo{
    font-size: 20px;
    font-weight:600;
    color:white;
    letter-spacing:2px;
}
nav .logo span{
    color:aqua;
}
nav .menu a{
    margin: 0px 7.5px;
    font-weight:700;
    text-decoration-line: none;
    color:white;
}
nav .menu a:hover{
    color:crimson;
    transition:all .4s linear;
}
nav .login-btn p{
    text-decoration-line:none;
    color:#c3af00;
    font-weight:700;
    font-size:25px;
    transition:all .5s;
}
                   /*____________________login-form styling___________________*/
.login-form{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
    background-image:linear-gradient(to right,rgba(89, 174, 223, 0.68),rgba(227, 97, 192, 0.744)),url("../web development/hotal-img.avif");background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    top:0;
    right:-1400px;
    transition:.5s;
    transition-timing-function: cubic-bezier(1,1,0,-0.01);
}
form{
    text-align:center;
}
input{
    padding:10px 10px;
    margin:10px;
    background-color:transparent;
    color:rgb(250, 243, 38);
    border:2px solid white;
    transform:uppercase;
    font-size: 16px;
}
::placeholder{
    color:black;
}
input:active{
    border:none;
}
#login{
    border-radius: 10px;
    background-color:white;
    color: black;
    padding:10px 15px;
}
.checkbox{
    display:none;
}
.checkbox:checked ~ .login-form{
    right:0;
}
.checkbox:checked ~ .landing-page{
    visibility: hidden;
}
.checkbox:checked ~ nav .login-btn p{
    transform:rotate(225deg);
    color:red;
}
form{
    transform:rotate(-45deg);
    transition: .5s;
}
.login-form:hover form{
    transform:rotate(0deg);
}
                /*_________________login-form style end_____________________*/
section.landing-page{
    position:absolute;
    top:40%;
    right:19.5%;
}
.landing-page .overview{
    text-align:left;
}
.landing-page .overview p{
    font-weight:500;
    color:midnightblue;
    transition:linear .4s;
}
header:hover .descri{
    color:white;
    text-shadow:1px 1px 2px black,0 0 25px blue,0 0 5px darkblue;
}
section.landing-page p.tag-line{
    font-size:23px;
    font-weight:700;
    color:black;
}
section.landing-page p.tag-line strong{
    color:aqua;
    
}
.landing-page .btn button{
    padding:7.5px 15px;
    margin:4px 4px 0px 4px;
    font-weight:700;
    border-radius:6px;
}
.btn .btn1{
    background-color:black;
    color:white;
}
.btn .btn2{
    background-color:white;
    color:black;
}
header section.social-media{
    position:absolute;
    top:40%;
    left:5%;
}
section.social-media a{
    display:block;
    color:white;
    text-align: center;
    font-size:25px;
    width:45px;
    height:auto;
    border-radius:22.5px;
    margin-bottom:10px;
    padding:8px 0px;
    cursor:pointer;
    background-color:black;
}
section.social-media a:hover{
    transform:rotate(45deg);
    color:darkred;
    transition:.3s linear;
}
section.social-media a:nth-child(2):hover{
    transform:rotate(-45deg);
    color:dodgerblue;
    transition:.3s linear;
}
/*_______________________________________ABOUT SECTION____________________________________________*/
section.about{
    padding:20px 70px;
}
section.about h3{
    text-align: center;
    margin:10px 0px;
    font-size: 20px;
    font-weight:600;
    color:black;
    letter-spacing:2px;
    text-transform: uppercase;
}
section.about h3::first-letter{
    color:rgb(244, 0, 138);
    font-size:30px
}
section.about .box{
    display:flex;
    align-items: center;
}
.lhs{
    width:50%;
    padding:0px 30px;
}
.lhs p{
    font-size:20px;
    color:#4d5f7a;
    text-align:justify;
    font-family: 'Trebuchet MS',sans-serif;
    transition: all .7s;
}
section.about:hover .lhs p{
    transform:scaley(1.1);
}
.lhs span{
    color:#d78b38;
    letter-spacing: 2px;
    font-weight: 700;
}
.lhs a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
    padding:8px 10px;
    color:white;
    display:inline-block;
    transition:2s;
    transition-timing-function: cubic-bezier(.17,.84,.81,.18);
}
section.about:hover .lhs a{
    transform: translateX(165px);
}
.lhs a:hover{
    color:crimson;
}
.rhs{
    width:50%;
    height:350px;
    /* visibility: hidden; */
    position:relative;
    right:-40%;
    transition:all linear 2s;
    transition-timing-function:cubic-bezier(.17,.84,.81,.18);
}
.rhs img{
    width:100%;height:350px;
}
section.about:hover .rhs{
    visibility: visible;
    right:0px;
}
/*______________________________Product section_________________________________*/
section.product{
    padding:20px 70px;
    width:100%;
    height:800px;
}
.product h3{
    text-align:center;
    margin:10px 0px;
    font-size: 20px;
    font-weight:600;
    color:black;
    letter-spacing:2px;
    text-transform: uppercase;
}
section.product h3::first-letter{
    color:rgb(244, 0, 138);
    font-size:30px
}
.box2 .food{
    float:left;
    width:250px;
    height:300px;
    text-align: center;
    margin:15px 12px;
    background-color:rgb(233, 232, 231);
    position:relative;
    overflow: hidden;
    box-shadow:0px 0px 5px 0px gray;
    transition:all linear 2s;
    transition-timing-function: cubic-bezier(.17,.84,.81,.18);
}
.food:hover{
    background-color:crimson;
    transform:scale(1.1,1.1)
}
.food .food-img img{
    width:200px;
    height:200px;
    border:2px solid black;
    margin:20px;
}
.overlay{
    width:100%;
    height:100%;
    position:absolute;
    top:-150px;
    left:-100px;
    opacity:0;
    transition:all linear .5s;
}
.food:hover .overlay{
    opacity:1;
    top:0;
    left:0;
    background-color:rgb(10, 21, 41);
    border-bottom-right-radius:100px;
}
.overlay .overview{
    text-align: justify;
    color:white;
    padding:40px 20px;
    height:60%;
}
.overview .food-tittle{
    text-align: center;
    color:aqua;
    text-decoration: underline;
    font-size:20px;
    margin-bottom:5px;
    font-weight:600;
}
.overlay .overview p{
    text-align:center;
    letter-spacing: 2px;
    margin:2px 0px;
}
.overlay .btn button{
    background-color:crimson;
    border:transparent;
    padding:7.5px 15px;
    font-size: 15px;
    border-radius:4px;
    letter-spacing: 2px;
    transition: all linear .3s;
}
.overlay .btn button a{
    color:white;
    text-decoration-line:none;
}
/*_______________________________________SERVICES section_________________________________________*/
section.services{
    padding:20px 70px;
}
.services h3{
    text-align:center;
    text-align: center;
    margin:10px 0px 20px 0px;
    font-size: 20px;
    font-weight:600;
    color:black;
    letter-spacing:2px;
    text-transform: uppercase;
}
.services h3::first-letter{
    color:rgb(244, 0, 138);
    font-size:30px
}
.services-list{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.service-item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#4d5f7a;
    height: 200px;
    width:100%;
    margin-bottom:10px;
    overflow: hidden;
}
.service-item:nth-child(even){
    background-color:#5a4764;
}
.service-img img{
    width:200px;
    height:200px;
}
.service-content{
    padding:20px 70px;
    border-radius: -20px;
}
.service-item:hover .service-img img{
    border-radius: 100px;
    transition: .5s;
}
.service-content h4{
    color:#c3af00;
    padding-bottom: 5px;
    text-transform:uppercase;
}
.service-item:hover{
    letter-spacing: 2px;
    transition:.3s;
}
.service-content p{
    color: white;
}
/*____________________________galllery section____________________________________*/
.gallery-sec{
    padding:20px 70px;
}
.gallery-sec h3{
    text-align:center;
    text-align: center;
    margin:10px 0px 20px 0px;
    font-size: 20px;
    font-weight:600;
    color:black;
    letter-spacing:2px;
    text-transform: uppercase;
}
.gallery-sec h3::first-letter{
    color:rgb(244, 0, 138);
    font-size:30px
}
.gallery-items p{
    font-size:20px;
    color:cadetblue;
    margin:20px;
    transition:.4s;
}
.gallery-items p:hover{
    transform:scaley(1.1);
    color: darkcyan;
}
.gallery-img{
    box-shadow:0px 0px 5px palevioletred;
}
.gallery-img img{
    height:100%;
    width:100%;
    transition: .5s;
}
.gallery-img img:hover{
    transform:scale(0.9)
}
.box3{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.gallery-items{
    width:45%;
}
.rhs-items{
    display:grid;
    grid-template-columns: auto auto;
    row-gap:5px;
    column-gap: 5px;
    justify-content: center;
}
.rhs-items .gallery-img{
    opacity:0.5;
    transition:.3s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.gallery-sec:hover .rhs-items .gallery-img{
    transform:rotate(360deg);
    opacity:1;
}
/*__________________________offer section_______________________________*/
.offer{
    padding:20px 70px;
}
.offer h3{
    text-align:center;
    text-align: center;
    margin:10px 0px 20px 0px;
    font-size: 20px;
    font-weight:600;
    color:black;
    letter-spacing:2px;
    text-transform: uppercase;
}
.offer h3::first-letter{
    color:rgb(244, 0, 138);
    font-size:30px
}
.slideshow{
    height:400px;
    overflow:hidden;
}
.slider-wrapper{
    display:flex;
    width:400%;
    height:100%;
    position:relative;
    animation:animate 20s infinite;
}
.slide,img{
    width:100%;
    height:100%;
    object-fit:cover;
}
@keyframes animate{
    0%{
        left:0%;
    }
    10%{
        left:0%;
    }
    15%{
        left:-100%;
    }
    25%{
        left:-100%;
    }
    30%{
        left:-200%;
    }
    40%{
        left:-200%;
    }
    45%{
        left:-300%;
    }
    55%{
        left:-300%;
    }
    60%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left:-100%;
    }
    85%{
        left:-100%;
    }
    90%{
        left:0%;
    }
}
/*________________________________founders section________________________________*/
section.founders{
    padding:20px 70px;
}
.founders h3{
    text-align:center;
    text-align: center;
    margin:10px 0px 20px 0px;
    font-size: 20px;
    font-weight:600;
    color:black;
    letter-spacing:2px;
    text-transform: uppercase;
}
.founders h3::first-letter{
    color:rgb(244, 0, 138);
    font-size:30px
}
.founders-cards{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    padding:40px 10px;
}
.card{
    width:220px;
    height:auto;
    background-color:whitesmoke;
    text-align:center;
    position:relative;
    box-shadow:0px 0px 5px 0px gray;
    transition:.5s;
}
.card img{
    width:150px;
    height:150px;
    border-radius:75px;
    padding:15px;
}
.card h4{
    color:black;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.card .founder-overlay{
    position:absolute;
    left:0;
    bottom:0;
    height:70%;
    width:100%;
    align-items: center;
    padding:40px 0px;
    opacity:0;
    text-align: center;
    box-shadow:0px 0px 5px 0px gray;
    transition:all linear.3s;
}
.card:hover{
    transform:scale(1.2,1.2);
} 
.card:hover .founder-overlay{
    opacity:1;
    height:100%;
    background-color:rgb(76, 101, 177);
}
.founder-overlay h4{
    color:white;
    margin-bottom:20px;
    text-transform: uppercase;
    font-weight: 600;
}
.founder-overlay a{
    color: white;
    text-align: center;
    font-size: 25px;
    width: 45px;
    height:45px;
    border-radius:22.5px;
    padding:8px 11px;
    margin:5px;
    cursor: pointer;
    background-color: black;
}
.founder-overlay a i:hover{
    transform:rotate(45deg);
    color:dodgerblue;
    transition:.5s;
}
/*______________________________footer section_______________________________*/
footer{
    padding:30px 70px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background:linear-gradient(rgba(76, 101, 177, 0.923),rgba(76, 101, 177, 0.907)),url("../web development/img5.png");
    background-repeat: no-repeat;
    background-position:center;
    color:white;
}
footer h4{
    margin-bottom: .5rem;
}
footer .top{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    padding:10px 0px 10px 0px;
}
.top h4{
    text-transform: uppercase;
    font-weight:600;
}
.top p{
    color:rgba(255, 255, 255, 0.676);
    font-weight:400;
}
.top a{
    color:rgba(255, 255, 255, 0.676);
    text-decoration-line: none;
    font-weight:400;
    transition: .3s;
}
.top a:hover{
    letter-spacing:.2rem;
    color:white;
}
.top>div{
    width:25%;
    display: flex;
    flex-direction: column;
}
footer .bottom{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-weight:600;
    font-size:1.2rem;
    color:white;
}
.bottom span{
    color:aqua;
}